{% extends 'base.html' %} {% import 'macros.html' as macro %}
<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}

<!-- content block -->
{% block content %}
<!--general news section-->
<h1 class="text-center">General News</h1>
<ul>
    {{ macro.displayNewsList(general)}}
</ul>
<!--Entertainment section-->
<h1 class="text-center">Entertainment</h1>
<ul>
    {{ macro.displayNewsList(entertainment)}}
</ul>

<!--Technology section-->
<h1 class="text-center">Technology News</h1>
<ul>
    {{ macro.displayNewsList(technology)}}
</ul>

<!--Business news section-->
<h1 class="text-center">Business News</h1>
<ul>
    {{ macro.displayNewsList(business)}}
</ul>
{% endblock %}